.imgimgimgbox{
    display: grid;
    width:70%;
   
    margin:auto;
    gap:20px;
    padding:20px;
    grid-template-columns: repeat(6,1fr);
    box-shadow: 1px 1px 5px #cccccc;
}

.imgimgimg{
  
   width: fit-content;
}