.product-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     /* justify-items: center;  */
    height: auto;
    margin-top: 2%;
    margin-left: 14%;
    gap: 2rem;
    border: 1px solid red;
     width: 75%;
}
@media screen and (max-width:1024px){
    .product-cards{
        width: 75%;
    }
    
}



.text{
    font-size: 16px;
    color:#000000;
    text-align: start;
    
    
};
