#overviewmiddle{
    width: 90%;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,2fr));
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 1rem;
}
#overviewmiddle>div{
   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
}

#imagename{
    width: 100%;
    border-radius: 2rem;
}
#overviewleftside{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    gap: 2rem;
    
}
#overviewleftside>div:nth-child(2){
    margin-top: 1rem;
}
#overviewleftside>div:nth-child(2)>h4{
    margin-top: 1.3rem;
}
#overviewtext{
    width: 90%;
    height: auto;
    
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
#overviewyummyfood{
    display: grid;
    width: 90%;
    min-height: 200px;
    margin: auto;
    grid-template-columns: repeat(auto-fit,minmax(200px,5fr));
    
    gap: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
}
#overviewyummyfood>div>img{
    width: 100%;
    border-radius: 2rem;
}

#overviewyummyfood>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2rem;
}
#overviewmaster{
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 2rem;
    
}
#overviewmaster>img{
    width: 100%;
    border-radius: 2rem;
    cursor: pointer;
}
#overviewbottomdiv{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,2fr));
    min-height: 200px;
    margin: auto;
    margin-top: 2rem;
    gap:10px;
   background-color:#f0f0f0;


}
#overviewbottomdiv>div:nth-child(1){
    width: 100%;
    height: auto;

}


#overviewbottomdiv>div:nth-child(1)>img{
    width: 100%;
    height: auto;
}

.overviewbutton{
    border-radius: 1rem;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 0 15px 0 15px;
}
.overviewbutton:hover{
    background-color: red;
}
