#helppagemain{
    width: 90%;
    margin: auto;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 8rem;
    display: grid;
    gap:1rem;
    grid-template-columns: 25% 70%;
}

.imgdiv>img{
    width: 100%;
    /* border: 1px solid red; */
}
.imgdiv{
    padding: 20px;
    border-radius: 1rem;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.imgdiv>a{
    /* border: 1px solid green; */
    margin-left: 1rem;
}

#help{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
#helppageright>div>h1{
    text-align: left;
}
#helppageright>div>p{
    text-align: left;
}
#helppageright{
    padding: 20px;
    padding-top: 10px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}