#helppagemain{
    width: 90%;
    margin: auto;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 8rem;
    display: grid;
    gap:1rem;
    grid-template-columns: 25% 70%;
}
#helppagemain>div{
    border: 1px solid yellow;
}
.imgdiv>img{
    width: 100%;
    /* border: 1px solid red; */
}
.imgdiv{
    /* border: 1px solid red; */
    margin-top: 2rem;
}
.imgdiv>a{
    border: 1px solid green;
    margin-left: 2rem;
}

#help{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}